<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TheDrop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <TheDrop.Properties.Settings>
      <setting name="treeView1" serializeAs="String">
        <value />
      </setting>
      <setting name="flowLayoutPanel1" serializeAs="String">
        <value />
      </setting>
      <setting name="lblClock" serializeAs="String">
        <value />
      </setting>
      <setting name="splitContainer1" serializeAs="String">
        <value />
      </setting>
      <setting name="menuStrip1" serializeAs="String">
        <value />
      </setting>
      <setting name="fileToolStripMenuItem" serializeAs="String">
        <value />
      </setting>
      <setting name="editToolStripMenuItem" serializeAs="String">
        <value />
      </setting>
      <setting name="programsToolStripMenuItem" serializeAs="String">
        <value />
      </setting>
      <setting name="label1" serializeAs="String">
        <value />
      </setting>
      <setting name="backgroundImg" serializeAs="String">
        <value />
      </setting>
      <setting name="lblClockFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="treeView1FColor" serializeAs="String">
        <value />
      </setting>
      <setting name="msFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="fileToolStripDropFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="editToolStripDropFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="programsToolStripDropFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="label1BColor" serializeAs="String">
        <value />
      </setting>
      <setting name="lastImgPath" serializeAs="String">
        <value />
      </setting>
      <setting name="lbClockBColor" serializeAs="String">
        <value />
      </setting>
      <setting name="splitContainerSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lbl1FColor" serializeAs="String">
        <value />
      </setting>
      <setting name="picBoxHoverBackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="piBoxLabelForeColor" serializeAs="String">
        <value>0, 0, 192</value>
      </setting>
      <setting name="themeName" serializeAs="String">
        <value>lightTheme</value>
      </setting>
      <setting name="themeDropBColor" serializeAs="String">
        <value />
      </setting>
      <setting name="themeDropFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="iconPBColor" serializeAs="String">
        <value />
      </setting>
      <setting name="iconPFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="iconDBColor" serializeAs="String">
        <value />
      </setting>
      <setting name="iconDFColor" serializeAs="String">
        <value />
      </setting>
      <setting name="d" serializeAs="String">
        <value />
      </setting>
    </TheDrop.Properties.Settings>
  </userSettings>
</configuration>